@charset "Utf-8";

@media screen and ( min-width: 550px ) { /*OUTROS TIPOS DE TELAS*/

    /*header span img {
        display: none;
    }
    header nav {
        display: block;
    } */
     header {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-image: linear-gradient(to top, #702a18ad 10%, #e48532b0 90%);
        padding: 10px 0px 0px 0px;
        padding-bottom: 0px;
        border-style: none;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.300);
     }

    main {
        max-width: 900px;
        margin: auto;

    
    }
    /*
        div.logo {
        padding: 15px;
        margin: 25px;
    }
    */
    header nav {
        padding-bottom: 0px;
        overflow: hidden;
        display: inline-block;
        margin: 0px;
        border-bottom: none;
    }
    header nav ul li {
        width: auto;
        margin-bottom: 0px;
        padding: 5px;
        padding-left: 0px;
        float: left;
        border-bottom: none;
        background: none;

    } header nav ul li:hover {
        color: #000;
        background-color: #e2793d;
        border-radius: 4px;
        color: #702918d2;
    }
    header nav ul li a {
        padding: 5px;
        font-size: bold;
        
    }
    header nav ul li a:hover {
        color: #000;
    }
    span {
        display: none;
        
    }



}
